/* Main styles */
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --first-color: #7477bf;
  --second-color: #7377bf;
  --nav-color: #4d4c72;
  --selected-color: #81c98f;
  --bell-color: #85db81;
  --cancel-color: #b2b2b2;
  --back-color: #fbfbfb;
  --text-color: #8f8f8f;
  --border-color: #dfdfdf;
}

/* General */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Sen, 'Open Sans', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'navigation'
    'main';
}

.widget-container-full {
  width: 92vw;
}

.widget-container-half {
  width: 90vw;
}

/* Header */
.bell {
  height: 40px;
  /* margin: auto 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bell-icon {
  width: 1.7em;
  height: 1.7em;
}

.bell-icon:hover {
  animation: shake 0.9s;
}

#notifications {
  background-color: var(--bell-color);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.line {
  margin: auto 0.8em;
  padding: 20px 0;
  border-right: 2px solid #5d61bf;
}

.header {
  grid-area: header;
  background-color: var(--first-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.8em;
}

.user {
  display: flex;
  align-items: center;
}

.header span {
  font-weight: 900;
}

.header sup {
  font-size: 0.5em;
}

.header h1 {
  font-weight: 100;
  font-size: 25px;
}

.header h3 {
  color: #e2e3f1;
  font-weight: 500;
  width: 100px;
  font-size: 12px;
}

.header img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin: auto 0.4em;
}

/* Navigation */
.navigation {
  grid-area: navigation;
  background-color: var(--nav-color);
  text-align: center;
  padding-top: 0.8em;
  display: flex;
  justify-content: center;
}

.navigation a {
  margin: 0 1em;
}

.navigation img {
  margin-bottom: 10px;
}

.nav-selected {
  border: 2px solid var(--selected-color);
  width: 5em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.icon-nav {
  width: 2.3em;
  height: 2.3em;
}

/* Main */
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

/* Dashboard Header */
.main-header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.headline {
  width: 30%;
  text-align: center;
  color: var(--text-color);
}

.main-header-search {
  width: 65%;
  text-align: right;
  background-color: var(--back-color);
  border-bottom-left-radius: 12px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  margin-left: 0.5em;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-style: none;
  padding: 0.5em;
  border: 1px solid var(--border-color);
  border-right: none;
  width: 150px;
}

.search-icon {
  border: 1px solid red;
  padding: 0.5em;
  border: 1px solid var(--border-color);
  border-left: none;
  margin-right: 0.5em;
  width: 30px;
  background-color: #fffffe;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

::placeholder {
  color: #c0c0c0;
}

/* Alert Bar  */
.alert {
  padding: 15px;
  transition: ease 1s;
}

.alert-banner {
  color: white;
  background-color: var(--first-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.alert-banner p {
  margin: 0;
  font-size: 12px;
}

.alert-banner p:nth-child(2) {
  font-weight: bold;
}

.alert-banner p:nth-child(2):hover {
  cursor: pointer;
}

/* Separators General  */
.mobile {
  margin-bottom: 20px;
}

/* .traffic, */
.daily,
.mobile,
.social,
.members,
.activity,
.message,
.settings {
  padding: 15px;
  border-top: 1px solid #d8d8d8;
}

/* Traffic General Content */
.traffic {
  padding-left: 15px;
}

.traffic-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.traffic-header h3 {
  width: 30%;
  font-weight: 900;
  color: var(--text-color);
  margin: auto 0;
}

.traffic-nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 900;
  font-size: 10px;
}

.traffic-nav li {
  margin: auto 0;
  padding: 8px;
}

.traffic-nav-link {
  color: var(--text-color);
}

.active {
  background-color: var(--selected-color);
  color: white;
  border-radius: 30px;
}

/* Traffic Bar */

.daily h3,
.mobile h3,
.social h3,
.members h3,
.activity h3,
.message h3,
.settings h3 {
  font-weight: 900;
  color: var(--text-color);
}

/* Social */

.social-container {
  border: 1px solid #d8d8d8;
  background-color: #fbfbfb;
  margin-bottom: 1.5em;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.social-image {
  width: 5em;
  height: 5em;
  background-color: var(--first-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.social-image svg {
  width: 50%;
}

.social-text p {
  margin: 0 30px;
}

.social-text .name {
  color: var(--first-color);
  font-weight: bold;
  font-size: 20px;
}

.social-text .number {
  color: #666;
  font-size: 50px;
  font-weight: 100;
  line-height: 45px;
}

/* New Members */

.members-container {
  display: flex;
  justify-content: flex-start;
  color: #666;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #e9e9e9;
}

.members-container img,
.activity-container img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin: auto 0;
}

.members-text,
.activity-text {
  line-height: 0px;
  margin-left: 10px;
}

.members-text,
.activity-text {
  font-size: 0.9em;
}

.members-text a {
  text-decoration: none;
  color: #898bc7;
  font-size: 13px;
}

.date {
  flex-grow: 1;
  text-align: right;
}

/* Recent Activity */

.activity-container {
  display: flex;
  justify-content: flex-start;
  color: #666;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #e9e9e9;
}

.time {
  font-size: 13px;
}

.arrow {
  flex-grow: 1;
  text-align: right;
  color: var(--first-color);
  font-weight: bold;
}

.activity-text {
  font-size: 12px;
}

.activity-text span {
  font-weight: 600;
}

/* Message User */
.widget-container {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 20px;
}

.form-field,
.form-area {
  margin-bottom: 15px;
  padding: 12px;
  background-color: var(--back-color);
  border-radius: 6px;
  border: 1px solid var(--border-color);
}

.button-primary-send {
  padding: 15px;
  background: var(--second-color);
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 6px;
}

/* Settings */
.form-field {
  width: 100%;
  color: var(--text-color);
}

.settings {
  margin-bottom: 2em;
}

.settings-button {
  display: flex;
  justify-content: space-between;
}

.button-primary-save {
  padding: 15px;
  background: var(--second-color);
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 6px;
  width: 45%;
}

.button-disabled {
  width: 45%;
  background-color: var(--cancel-color);
  border-style: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

/* Switch */
.switch {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.switch strong {
  margin: auto 0;
  width: 40%;
  color: var(--text-color);
}

#switch-main {
  background: var(--first-color);
  width: 25%;
  border-radius: 15px;
  margin-left: 2em;
  border: 3px solid #cbcbce;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  45% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
  85% {
    transform: rotate(-10deg);
  }
  92% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* POP UP */
#box {
  width: 500px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9000;
  text-align: center;
  display: none;
}

#box h1 {
  color: #333;
  margin: 0;
  padding: 15px;
  color: white;
  background-color: #7477bf;
}

.close {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #7377bf;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 6px;
  margin: 10px 0;
}

.list-notifications {
  display: flex;
  flex-direction: column;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification p {
  margin-left: 5px;
}
